.about {
  background-color: #192144;
  border-radius: 0 0 30px 30px;
  padding: 0 0 82px 0;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding-bottom: 89px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 41px;
    padding-bottom: 163px;
    position: relative;
    z-index: -1;
  }
}

.about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 113px;
  height: 132px;
  border-radius: 0;
  background-color: #141b3b;
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 688px;
    left: 50%;
    border-radius: 20px;
    margin-left: -344px;
  }

  @media (min-width: @desktop-width) {
    width: 212px;
    height: 212px;
    margin-left: -700px;
    top: -30px;
  }
}

.about__container {
  padding-top: 33px;
  background-image: url("../img/about-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-width: @tablet-width) {
    background-image: url("../img/img_tablet.png");
    background-position: right 40px top 0;
    background-repeat: no-repeat;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/img_back_desktop.png");
    background-position: top 40px right 0;
  }
}

.about__title {
  color: #ff8d30;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 25px;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.about__text {
  color: #ffffff;
  padding: 0 25px;
  margin: 19px 0 0 0;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    max-width: 310px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    max-width: 620px;
    margin-top: 51px;
  }
}

.about__description {
  font-weight: 700;
  color: #ffffff;
  padding: 0 25px;
  margin: 20px 0 0 0;

  @media (min-width: @tablet-width) {
    max-width: 310px;
    font-size: 21px;
    line-height: 25px;
    margin-top: 31px;
  }

  @media (min-width: @desktop-width) {
    max-width: 620px;
    margin-top: 38px;
  }
}

.about-link {
  margin-top: 52px;

  @media (min-width: @desktop-width) {
    margin-top: 85px;
  }
}

.about-link--active {
  display: none;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    display: block;
    max-width: 276px;
  }
}
