.alphabet {
  display: grid;
  grid-template-columns: repeat(5, 44px);
  grid-template-rows: repeat(5, 41px);
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @media (min-width: @tablet-width) {
    width: 350px;
    grid-template-columns: repeat(5, 77px);
    grid-template-rows: repeat(5, 83px);
  }

  @media (min-width: @desktop-width) {
    width: 1320px;
    grid-template-columns: repeat(5, 250px);
    grid-template-rows: repeat(5, auto);
  }
}

.alphabet__item {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
  align-self: stretch;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    background-color: transparent;
    border: none;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-self: flex-start;
    background-color: transparent;
    align-items: flex-start;
    border: none;
  }
}

.alphabet__item:nth-child(5n) {
  border-right: 1px solid #c4c4c4;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.alphabet__item:nth-child(-n+5) {
  border-top: 1px solid #c4c4c4;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.alphabet__item--current {
  background-color: #1d2e5b;
  color: #ffffff;
}

.alphabet__item:nth-child(11) .alphabet__country-letter {
  @media (min-width: @desktop-width) {
    padding-bottom: 85px;
  }
}

.alphabet__item:nth-child(-n+5) .alphabet__country-letter {
  @media (min-width: @desktop-width) {
    margin-top: 35px;
  }
}

.alphabet__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    opacity: 0.3;
  }

  @media (min-width: @desktop-width) {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #192144;
    opacity: 1;
  }
}

.alphabet__link--active {
  @media (min-width: @tablet-width) {
    opacity: 1;
  }
}

ul.alphabet__country-letter {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    margin-top: 34px;
    margin-left: 0;
    padding: 0 0 44px 0;
  }
}
