.arrival {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 24px;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 585px 245px;
    grid-template-rows: 50px 110px 70px 70px 570px 80px;
  }
}

.arrival__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    order: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-template-rows: 1/2;
  }
}

.arrival__descriptions {
  margin: 16px 0 0 0;
  padding: 0;
  color: #444444;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-template-rows: 2/3;
  }
}

.arrival__label-companion,
.arrival__label-duration {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1d2e5b;
  position: relative;
}

.arrival__label-companion {
  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-template-rows: 3/4;
  }
}

.arrival__label-box {
  margin: 28px 0 0 0;

  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-template-rows: 3/4;
  }
}

.arrival__label-duration {
  @media (min-width: @tablet-width) {
    order: 5;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-template-rows: 4/5;
  }
}

.arrival__input {
  display: block;
  width: 100%;
  margin: 8px 0 0 0;
  padding: 15px 30px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  color: #1d2e5b;
  text-align: center;
  outline: none;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: textfield;
}

.arrival__input::-webkit-outer-spin-button,
.arrival__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.arrival__button {
  display: block;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 42px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.arrival__button--minus {
  background-image: url("../img/minus.png");
  left: 14px;
}

.arrival__button--plus {
  background-image: url("../img/plus.png");
  right: 14px;
}

.arrival__unit {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(29, 46, 91, 0.3);
  text-transform: uppercase;
}

.arrival__text {
  margin: 0;
  padding: 0 0 0 39px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #1d2e5b;
  position: relative;
}

.arrival__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin: -13px 0 0 0;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-radius: 4px;
}

.arrival__input-children:checked ~ .arrival__text::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrival__calendar {
  margin: 27px 0 0 0;

  @media (min-width: @tablet-width) {
    order: 6;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    grid-template-rows: 5/6;
  }
}

.arrival__next-step {
  margin: 22px 0 0 0;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  background-color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    font-size: 24px;
    line-height: 24px;
    padding: 29px;
    width: 284px;
    order: 7;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-template-rows: 6/7;
  }
}
