.arrival {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    border-radius: 30px;
  }
}

.arrival__wrapper-text {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: 1fr 1fr;
    border-bottom: 1px solid #e1e3e9;
    padding: 0 0 50px 0;
  }
}

.arrival__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.arrival__title br {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.arrival__descriptions {
  margin: 16px 0 0 0;
  padding: 0;
  color: #444444;

  @media (min-width: @tablet-width) {
    order: 2;
    font-size: 20px;
    line-height: 24px;
    margin-top: 36px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 7px;
  }
}

.arrival__descriptions br {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.arrival__pagination-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: end;
    margin-right: 39px;
  }
}

.arrival__pagination-item:not(:first-child) {
  margin-top: 11px;
}

.arrival__pagination-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px 5px 5px 42px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.11em;
}

.arrival__pagination-link--active {
  color: rgba(0, 0, 0, 1);
}

.arrival__pagination-link::before,
.arrival__pagination-link--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #1d2e5b;
  opacity: 0.3;
  margin: -3px 0 0 0;
}

.arrival__pagination-link--active::before {
  opacity: 1;
}

.arrival__wrapper-inforamtion {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 29px;
  }
}

.arrival__label-companion,
.arrival__label-duration {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover .arrival__input,
  &:focus .arrival__input {
    border: 1px solid #959bb2;
  }

  &:active .arrival__input {
    border: 1px solid #161c35;
    color: #161c35;
  }

  &:active ~ .arrival__button--minus {
    background-image: url("../img/minus-active2.svg");
  }

  &:active ~ .arrival__button--plus {
    background-image: url("../img/plus-active2.svg");
  }
}

.arrival__label-companion {
  @media (min-width: @tablet-width) {
    order: 1;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    align-items: center;
  }
}

.arrival__label-box {
  display: block;
  margin: 19px 0 0 0;
  padding: 5px 0;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    order: 2;
    margin-top: 27px;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    margin-right: 3px;
    margin-top: 4px;
  }
}

.arrival__label-duration {
  @media (min-width: @tablet-width) {
    order: 3;
    width: 100%;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    align-items: center;
    margin-top: 0;
  }
}

.arrival__label-duration::after {
  @media (min-width: @tablet-width) {
    content: "";
    width: 40px;
    height: 15px;
    position: absolute;
    top: 23px;
    right: -40px;
    background-color: #c4c4c4;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.arrival__input {
  display: block;
  width: 100%;
  padding: 12px 30px;
  margin-top: 9px;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  color: #1d2e5b;
  text-align: center;
  outline: none;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 4px;
  appearance: textfield;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 23px 22px;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 180px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 35px;
  }
}

.arrival__input::-webkit-outer-spin-button,
.arrival__input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.arrival__button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: calc(50% + 13px);
  margin: -20px 0 0 0;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: calc(50% + 33px);
  }

  @media (min-width: @desktop-width) {
    top: 50%;
  }
}

.arrival__button--minus {
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 2px;

  @media (min-width: @tablet-width) {
    background-size: 20px 20px;
    left: 12px;
  }

  @media (min-width: @desktop-width) {
    left: auto;
    right: 234px;
  }

  &:hover,
  &:focus {
    background-image: url("../img/minus-hover.svg");
  }

  &:active {
    background-image: url("../img/minus-active.svg");
  }
}

.arrival__button--plus {
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 2px;

  @media (min-width: @tablet-width) {
    background-size: 20px 20px;
    right: 12px;
  }

  @media (min-width: @desktop-width) {
    right: 109px;
  }

  &:hover,
  &:focus {
    background-image: url("../img/plus-hover.svg");
  }

  &:active {
    background-image: url("../img/plus-active.svg");
  }
}

.arrival__unit {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(29, 46, 91, 0.3);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    order: 3;
    color: #1d2e5b;
    width: 50px;
    margin-left: 0;
    margin-right: 14px;
  }
}

.arrival__wrapper-input-number {
  position: relative;
  margin: 20px 0 0 0;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    padding-top: 23px;
    order: 1;
    border-top: 1px solid #e1e3e9;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    border: none;
    width: 50%;
    align-items: center;
    padding-top: 0;
  }
}

.arrival__wrapper-input-number--duration {
  @media (min-width: @tablet-width) {
    order: 3;
    margin-top: 25px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 15px;
  }
}

.arrival__text {
  margin: 0;
  padding: 0 0 0 39px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #1d2e5b;
  position: relative;

  @media (min-width: @tablet-width) {
    font-weight: 500;
    padding-left: 60px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @media (min-width: @desktop-width) {
      text-transform: uppercase;
    }
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid #959bb2;
  }

  &:active::before {
    border: 1px solid #e2e5f1;
    background-color: #e2e5f1;
  }
}

.arrival__text::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin: -14px 0 0 0;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-radius: 4px;

  @media (min-width: @tablet-width) {
    width: 36px;
    height: 36px;
    margin-top: -18px;
  }
}

.arrival__input-children:checked ~ .arrival__text::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.arrival__input-children:checked:active ~ .arrival__text::before {
  opacity: 0.3;
}

.arrival__calendar {
  margin: 19px 0 0 0;

  @media (min-width: @tablet-width) {
    order: 6;
    margin-top: 58px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
  }
}

.arrival__next-step {
  margin: 22px 0 0 0;
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  background-color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 47px;
    font-size: 24px;
    line-height: 24px;
    padding: 29px 48px 29px 5px;
    width: 284px;
    order: 7;
    text-transform: none;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
  }

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    background-color: #ffbd30;
    color: rgba(29, 46, 91, 0.3);
  }

  &:active::after {
    opacity: 0.3;
  }
}

.arrival__next-step::after {
  @media (min-width: @tablet-width) {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 35px;
    margin: -7px 0 0 0;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
