.companion {
  margin-top: -30px;
  padding: 0 0 30px 0;
  background-color: #192144;
  color: #ffffff;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    padding-bottom: 87px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 134px;
    background-position: 150px 185px;
  }
}

.companion::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 0;
  width: 113px;
  height: 132px;
  border-radius: 20px;
  background-color: #141b3b;
  z-index: -1;

  @media (min-width: @tablet-width) {
    width: 212px;
    height: 212px;
    top: 168px;
    left: calc(50% - 344px);

    @media (min-width: @desktop-width) {
      left: calc(50% - 670px);
    }
  }
}

.companion__img-back {
  position: absolute;
}

.companion__img-back--smolov {
  top: 65px;
  right: 25px;

  @media (min-width: @tablet-width) {
    top: 426px;
    left: calc(50% - 344px);
  }

  @media (min-width: @desktop-width) {
    left: calc(50% - 180px);
    top: 164px;
  }
}

.companion__img-back--rogovaya {
  top: 337px;
  left: -9px;

  @media (min-width: @tablet-width) {
    width: 243px;
    height: 243px;
    top: 109px;
    left: calc(50% + 25px);
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: 285px;
    top: 416px;
    left: calc(50% - 500px);
  }
}

.companion__container {
  padding-top: 96px;
  position: relative;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.companion__title {
  margin: 0;
  padding: 0 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;

  @media (min-width: @tablet-width) {
    margin-top: 141px;
    font-size: 45px;
    line-height: 45px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.companion__description {
  margin: 19px 0 0 0;
  padding: 0 25px;

  @media (min-width: @tablet-width) {
    margin-top: 55px;
    width: 427px;
    font-size: 28px;
    line-height: 34px;
    padding-left: 25px;
    position: relative;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.companion__text {
  font-weight: 700;
  padding: 0 25px;
  margin: 21px 0 0 0;
  position: relative;
  z-index: 1;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 24px;
    padding-left: 25px;
    width: 260px;
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.companion__list {
  margin-top: 56px;

  @media (min-width: @tablet-width) {
    margin-top: 59px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.companion__button {
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    margin-top: 81px;
    margin-left: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 280px;
  }
}
