.companion {
  margin-top: -30px;
  padding: 105px 0 30px 0;
  background-color: #192144;
  background-image: url("../img/back-companions.png");
  background-repeat: no-repeat;
  color: #ffffff;
}

.companion__container {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.companion__title {
  margin: 0;
  padding: 0 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ff8d30;
}

.companion__description {
  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.companion__text {
  font-weight: 700;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
  }
}

.companion__button {
  margin-top: 20px;

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
