.contacts {
  color: #1d2e5b;
  margin-top: -30px;
  position: relative;
}

.contacts__container {
  background-color: #ffd74b;
  padding-top: 60px;
  padding-bottom: 35px;
  border-radius: 0 0 30px 30px;
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.contacts__address {
  margin: 0;
  padding: 0 65px 0 60px;
  display: block;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts__address::before {
  content: "";
  width: 45px;
  height: 45px;
  background-color: #121936;
  background-image: url("../img/icon_location.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -23px 0 0 0;
  border-radius: 50%;
}

.contacts__link {
  margin-top: 32px;
}

.contacts__map {
  display: block;
  margin-top: -30px;
}
