.contacts {
  color: #1d2e5b;
  margin-top: -30px;
  position: relative;
}

.contacts__wrapper-container {
  background-color: #ffd74b;
  padding-top: 62px;
  padding-bottom: 35px;
  border-radius: 0 0 30px 30px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 84px;
  }
}

.contacts__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}

.contacts__address {
  margin: 0;
  padding: 0 65px 0 60px;
  display: block;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-top: 70px;
    font-size: 28px;
    line-height: 28px;
    padding-left: 94px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
  }
}

.contacts__address::before {
  content: "";
  width: 45px;
  height: 45px;
  background-color: #121936;
  background-image: url("../img/icon_location.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -23px 0 0 0;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    margin-top: -34px;
    background-image: url("../img/icon_location_tablet.svg");
  }
}

.contacts__link {
  margin-top: 33px;

  @media (min-width: @tablet-width) {
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    width: 324px;
  }
}

.contacts__map,
.contacts__map--tablet,
.contacts__map--desktop {
  margin: 0 auto;
  margin-top: -30px;
}

.contacts__map {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 293px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.contacts__map--tablet {
  display: none;
  width: 100%;
  object-fit: cover;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.contacts__map--desktop {
  display: none;
  width: 100%;
  object-fit: cover;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

