.country-visit__list {
  margin: 19px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    border-top: 1px solid #e1e3e9;
    padding-left: 2px;
    margin-top: 34px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 32px;
    padding-left: 0;
  }
}

.country-visit__item {
  display: flex;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.country-visit__item:not(:first-child) {
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.country-visit__item::after {
  content: "";
  width: 8px;
  height: 11px;
  background-image: url("../img/next_step.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -17px;
  right: 51px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.country-visit__item:first-child .country-visit__country {
  @media (min-width: @tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 63px;
  }
}

.country-visit__item:first-child .country-visit__wrapper-img {
  @media (min-width: @tablet-width) {
    padding-top: 43px;
    padding-bottom: 4px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 63px;
  }
}

.country-visit__item:first-child .country-visit__wrapper-img::after {
  top: calc(50% + 1px);

  @media (min-width: @tablet-width) {
    top: calc(50% + 17px);
  }

  @media (min-width: @desktop-width) {
    top: calc(50% + 27px);
    left: -3px;
  }
}

.country-visit__item:nth-child(2) .country-visit__wrapper-img::after {
  @media (min-width: @tablet-width) {
    top: calc(50% + 3px);
    left: -3px;
  }
}

.country-visit__item:nth-child(3) .country-visit__wrapper-img::after {
  @media (min-width: @tablet-width) {
    top: calc(50% + 4px);
    left: -3px;
  }
}

.country-visit__item:nth-child(3) .country-visit__wrapper-img {
  @media (min-width: @tablet-width) {
    padding-bottom: 68px;
  }
}

.country-visit__item:nth-child(2) .country-visit__wrapper-img {
  padding-bottom: 3px;
}

.country-visit__item:first-child .country-visit__close-button {
  @media (min-width: @tablet-width) {
    top: calc(50% + 17px);
  }
}

.country-visit__country,
.country-visit__country-add,
.country-visit__add-country {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #1d2e5b;
  letter-spacing: 0.09em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 11px 10px 11px;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding: 25px 44px 25px 27px;
    margin-top: 13px;
  }

  @media (min-width: @desktop-width) {
    padding: 24px 25px 24px 25px;
  }
}

.country-visit__country::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  margin: -18px 0 0 0;
  width: 56px;
  height: 36px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 7%, rgba(255, 255, 255, 0) 7%, #ffffff 40%, #ffffff 40%, #ffffff 100%);
}

.country-visit__country::before,
.country-visit__country-add::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 14px;
  right: 12px;
  width: 16px;
  height: 12px;
  background-image: url("../img/arrow-back.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 20px;
    top: 25px;
    right: 24px;
    height: 17px;
    background-size: 20px 17px;
  }

  @media (min-width: @desktop-width) {
    top: 25px;
  }
}

.country-visit__country-add::before {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.country-visit__country-add--active {
  background-color: #1d2e5b;
  color: #ffffff;
  border-radius: 4px 4px 0 0;
  padding-left: 17px;
  letter-spacing: 0.02em;

  @media (min-width: @tablet-width) {
    width: 372px;
    flex-grow: 0;
    position: relative;
    overflow: visible;
    padding-left: 25px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    border-radius: 4px 4px 0 0;
    width: 730px;
  }
}

.country-visit__country-add--active::before {
  display: block;
  width: 8px;
  height: 9px;
  top: 16px;
  right: 17px;
  background-color: transparent;
  background-image: url("../img/icon_close_white.svg");

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 24px;
    background-image: url("../img/icon_close2.svg");
    background-size: 22px 24px;
    top: 23px;
    right: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 22px;
    height: 24px;
    background-color: transparent;
  }
}

.country-visit__country-add--active::after {
  @media (min-width: @tablet-width) {
    content: "";
    width: 1px;
    height: 80px;
    position: absolute;
    top: -14px;
    right: -27px;
    background-color: #cbced9;
  }

  @media (min-width: @desktop-width) {
    height: 84px;
    right: -47px;
  }
}

.country-visit__wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 42px;
  box-sizing: border-box;
  border: 1px solid #cbced9;
  border-radius: 4px;
  margin-left: -1px;
  position: relative;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    width: 139px;
    height: auto;
    padding: 15px 0 30px 0;
    border: none;
    border-radius: 0;
    border-left: 1px solid #cbced9;
    margin-left: 24px;

    @media (min-width: @desktop-width) {
      padding: 15px 0 50px 0;
      width: 225px;
      margin-left: 45px;
    }
  }
}

.country-visit__flag-country {
  display: block;
  padding: 10px;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
    padding-left: 25px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 39px;
  }
}

.country-visit__wrapper-img::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  margin: -4px 0 0 -4px;
  background-color: #1d2e5b;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: 14px;
    margin-top: -7px;
    left: -5px;
  }
}

.country-visit__wrapper-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
}

.country-visit__wrapper-img--select-country {
  justify-content: flex-end;
}

.country-visit__wrapper-img--select-country::after {
  background-color: #ffffff;
  border: 1px solid #cbced9;
  box-sizing: border-box;
}

.country-visit__close-button {
  display: block;
  width: 21px;
  height: 21px;
  background-color: #edeff6;
  background-image: url("../img/icon_close.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin: -10px -10px 0 0;

  @media (min-width: @tablet-width) {
    width: 22px;
    height: 24px;
    top: 45px;
    right: 9px;
    background-color: transparent;
    background-image: url("../img/icon_close_point.svg");
    border-radius: 0;
  }

  @media (min-width: @desktop-width) {
    right: 14px;
  }
}

.country-visit__country-add--active + .country-visit__wrapper-img,
.country-visit__country-add--active ~ .country-visit__close-button {
  display: none;
}

.country-visit__country-add--active ~ .country-visit__close-button {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.country-visit__wrapper-add-country {
  @media (min-width: @tablet-width) {
    padding: 11px 0 0 0;
    width: 399px;
    border-right: 1px solid #cbced9;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 775px;
  }
}

.country-visit__wrapper-add-country::before {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    margin: -4px 0 0 -4px;
    border-radius: 50%;
    border: 1px solid #cbced9;
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    right: -8px;
    background-color: #edeff6;
  }

  @media (min-width: @desktop-width) {
    right: -8px;
  }
}

.country-visit__add-country {
  margin: 22px 0 0 0;
  background-color: #edeff6;
  border-color: #edeff6;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    width: 373px;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
  }
}

.country-visit__add-country::after {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  top: 50%;
  right: 13px;
  background-image: url("../img/icon_plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin: -6px 0 0 0;

  @media (min-width: @tablet-width) {
    content: "";
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    right: 24px;
    background-image: url("../img/icon_plus.svg");
    background-size: 21px 21px;
    background-repeat: no-repeat;
    background-position: center;
    margin: -10px 0 0 0;
  }
}

.country-visit__add-country::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 50px;
  margin: -4px 0 0 -4px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #cbced9;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 14px;
    height: 14px;
    right: -50px;
    background-color: #edeff6;
  }
}

.country-visit__wrapper-add-button {
  margin: 22px 0 0 0;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.country-visit__dropdown,
.country-visit__plus {
  display: block;
  width: 16px;
  height: 12px;
  background-color: transparent;
  background-image: url("../img/arrow-back.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 13px;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.country-visit__plus {
  width: 14px;
  height: 14px;
  background-image: url("../img/icon_plus.svg");
}

.country-visit__wrapper-img--add-country {
  background-color: #edeff6;
  border-color: #edeff6;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    border-color: #cbced9;
  }
}

.country-visit__wrapper-alphabet {
  position: absolute;
  width: 220px;
  top: 40px;
  left: 0;
  z-index: 2;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 575px;
    top: 82px;
    padding-bottom: 34px;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
  }

  @media (min-width: @desktop-width) {
    display: flex;
    box-sizing: border-box;
    width: 730px;
    top: 84px;
    border: none;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
    padding-bottom: 35px;
    border-radius: 0 0 4px 4px;
  }
}

.country-visit__wrapper-alphabet--invisible {
  display: none;
}

.country-visit__country-letter {
  margin: 0;
  padding-top: 18px;
  padding-left: 18px;
  padding-bottom: 14px;
  border: 1px solid #cbced9;
  border-top: none;

  @media (min-width: @tablet-width) {
    margin-left: 99px;
    margin-top: 30px;
    border: none;
  }
}

ul.country-visit__alphabet {
  @media (min-width: @tablet-width) {
    margin-left: 21px;
    margin-top: 36px;
    width: 275px;
    grid-template-columns: repeat(5, 52px);
    grid-template-rows: repeat(5, 69px);
  }

  @media (min-width: @desktop-width) {
    width: 414px;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 69px);
    gap: 16px 15px;
    margin-left: -1px;
    margin-top: 32px;
  }
}

ul.country-visit__alphabet .alphabet__item {
  @media (min-width: @tablet-width) {
    border-left: 1px solid #cbced9;
    border-bottom: 1px solid #cbced9;
  }

  @media (min-width: @desktop-width) {
    border: 1px solid #cbced9;
    box-sizing: border-box;
    border-radius: 4px;
    height: 70px;
    align-items: center;
  }
}

ul.country-visit__alphabet .alphabet__item:nth-child(-n+5) {
  @media (min-width: @tablet-width) {
    border-top: 1px solid #cbced9;
  }
}

ul.country-visit__alphabet .alphabet__item:nth-child(5n) {
  @media (min-width: @tablet-width) {
    border-right: 1px solid #cbced9;
  }
}

ul.country-visit__alphabet .alphabet__link {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 20px;
    color: #1d2e5b;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 20px;
    width: 100%;
    height: 100%;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }
}

ul.country-visit__alphabet .alphabet__link--current {
  @media (min-width: @tablet-width) {
    background-color: #1d2e5b;
    color: #ffffff;
  }

  @media (min-width: @desktop-width) {
    background-color: #1d2e5b;
    color: #ffffff;
  }
}

ul.country-visit__country-letter {
  @media (min-width: @desktop-width) {
    display: block;
    margin-left: 103px;
    margin-top: 29px;
  }
}

ul.country-visit__country-letter::before {
  @media (min-width: @desktop-width) {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 240px;
    background-color: #d6d9e6;
  }
}

ul.country-visit__country-letter .country-letter__item {
  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}
