.country-letter {
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 170px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
    width: auto;
  }
}

.country-letter__item:not(:first-child) {
  margin-top: 0;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.country-letter__link {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #444444;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    opacity: 0.3;
  }
}
