.country-letter {
  list-style-type: none;

  @media (min-width: @tablet-width) {
    width: 200px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.country-letter__item:not(:first-child) {
  margin-top: 4px;
}

.country-letter__link {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    line-height: 30px;
  }
}
