.entertainment {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: @tablet-width) {
    border-radius: 30px;
    padding-bottom: 55px;
    padding-top: 45px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 60px;
    padding-bottom: 108px;
    padding-top: 96px;
  }
}

.entertainment__wrapper-text {
  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 0 0 23px 0;
  }
}

.entertainment__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    order: 1;
    font-size: 36px;
    line-height: 36px;
  }
}

.entertainment__title br {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.entertainment__descriptions {
  margin: 16px 0 0 0;
  padding: 0;
  color: #444444;

  @media (min-width: @tablet-width) {
    order: 2;
    font-size: 20px;
    line-height: 24px;
    margin-top: 35px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 38px;
  }
}

.entertainment__descriptions br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}


.entertainment__pagination-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-self: end;
    margin-right: 39px;
  }
}

.entertainment__pagination-item:not(:first-child) {
  margin-top: 11px;
}

.entertainment__pagination-link {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px 5px 5px 42px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.11em;
}

.entertainment__pagination-link--active {
  color: rgba(0, 0, 0, 1);
}

.entertainment__pagination-link::before,
.entertainment__pagination-link--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #1d2e5b;
  opacity: 0.3;
  margin: -3px 0 0 0;
}

.entertainment__pagination-link--active::before {
  opacity: 1;
}

.entertainment__list {
  width: 100%;
  margin: 19px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 98px;
  }
}

.entertainment__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

.entertainment__item:first-child::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -13px;
  width: 2px;
  height: calc(100% + 22px);
  background-color: #1d2e5b;

  @media (min-width: @tablet-width) {
    left: auto;
    right: 6px;
    top: 26px;
    height: calc(100% + 35px);
  }

  @media (min-width: @desktop-width) {
    right: 225px;
  }
}

.entertainment__item:not(:first-child) {
  margin-top: 23px;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 39px;
  }
}

.entertainment__country {
  flex-grow: 1;
  position: relative;
  padding-left: 11px;

  @media (min-width: @tablet-width) {
    padding-left: 3px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.entertainment__country::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 7%, rgba(0, 0, 0, 0) 7%, #ffffff 40%, #ffffff 40%, #ffffff 100%);
}

.entertainment__country span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #1d2e5b;
  position: relative;

  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
  }
}

.entertainment__country span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: -3px 0 0 0;
  background-color: #1d2e5b;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.entertainment__country span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  width: 14px;
  height: 2px;
  margin: -1px 0 0 0;
  background-color: #1d2e5b;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.entertainment__wrapper-flag {
  @media (min-width: @tablet-width) {
    padding-right: 33px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    padding-right: 115px;
    padding-top: 7px;
    padding-left: 48px;
  }
}

.entertainment__wrapper-flag::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 0;
    background-color: #1d2e5b;
    border-radius: 50%;
    margin: -7px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    right: auto;
    left: 0;
  }
}

.entertainment__flag {
  display: block;

  @media (min-width: @tablet-width) {
    width: 70px;
    height: 47px;
  }
}

.entertainment__break {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    flex-basis: 100%;
    height: 0;
  }
}

.entertainment__plan {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  resize: none;
  appearance: textfield;
  overflow: hidden;
  width: 100%;
  height: 220px;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 9px 9px 9px 13px;
  margin: 14px 0 0 0;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    width: 500px;
    height: 142px;
    margin-left: 5px;
    margin-top: 28px;
    padding: 17px 9px 9px 17px;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
    margin-top: 26px;
    margin-left: 0;
    padding: 21px 10px 9px 23px;
  }
}

.entertainment__plan::placeholder {
  opacity: 0.3;
}

.entertainment__plan::-webkit-outer-spin-button,
.entertainment__plan::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.entertainment__submit,
.entertainment__prev-step {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  background-color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border: none;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: auto;
    font-size: 24px;
    line-height: 24px;
  }
}

.entertainment__submit {
  font-family: "Blogger Sans", "Arial", sans-serif;
  margin-top: 20px;
  padding: 6px;
  position: relative;

  @media (min-width: @tablet-width) {
    padding: 23px 97px 28px 10px;
    margin-top: 53px;
    width: 286px;
    text-transform: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.entertainment__next-step::before,
.entertainment__submit::before {
  @media (min-width: @tablet-width) {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 37px;
    margin: -8px 0 0 0;
    background-image: url("../img/polygon_2.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
  }
}

.entertainment__submit::before {
  right: 32px;
}

.entertainment__prev-step {
  background-color: transparent;
  margin-top: 2px;

  @media (min-width: @tablet-width) {
    margin: 46px 1px 0 auto;
    padding: 0 0 0 39px;
    position: relative;
    text-transform: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 56px;
    margin-right: 2px;
  }
}

.entertainment__prev-step::before {
  @media (min-width: @tablet-width) {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: -8px 0 0 0;
    background-image: url("../img/polygon_2.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
