.filter-country {
  margin: -30px 0 0 0;
  padding: 50px 0 15px 0;
  background-color: #e2e5f2;
  border-radius: 0 0 30px 30px;
}

.filter-country__container {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 56px;
    padding-top: 60px;
  }
}

.filter-country__wrapper {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    order: 2;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    order: 1;
  }
}

.filter-country__wrapper-filter {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  background-color: #e2e5f2;
  padding-bottom: 28px;
  border-radius: 0 0 20px 20px;

  @media (min-width: @tablet-width) {
    position: static;
    margin: 0;
    padding: 0 40px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    order: 2;
  }
}

.filter-country__item {
  margin: 9px 0 0 0;
}

.filter-country__link {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #192144;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
    font-size: 20px;
    line-height: 20px;
    order: 0;
  }
}

.filter-counrty__list {
  margin: 15px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 390px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.filter-country__button {
  display: block;
  background-color: transparent;
  background-image: url("../img/filter_expand.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 17px;
  height: 3px;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    background-image: none;
    width: auto;
    height: auto;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.filter-country__alphabet {
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    margin-top: 75px;
  }
}

.filter-country__country-letter {
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    order: 4;
    margin-left: 100px;
  }
}

.filter-country__button-text,
.filter-country__button-text--roll-up {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding: 0 50px 0 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #192144;
    text-transform: uppercase;
    position: relative;
  }
}

.filter-country__button-text--roll-up {
  display: none;
}

.filter-country__button-text::after,
.filter-country__button-text--roll-up::after {
  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    width: 30px;
    height: 6px;
    background-image: url("../img/point.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin: -3px 0 0 0;
  }
}

.filter-country__button-text--roll-up::after {
  background-image: url("../img/icon_close_filter.svg");
  width: 22px;
  height: 24px;
  margin-top: -12px;
}


.filter-country__link-part-world {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: rgba(25, 33, 68, 0.3);
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter-country__link-part-world--current {
  color: rgba(25, 33, 68, 1);
}

.filter-country__close-button {
  display: block;
  width: 100%;
  margin: 28px 0 0 0;
  padding: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #192144;
  background-color: #d6daed;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    order: 5;
    width: 100%;
  }
}

.filter-country__wrapper-filter--close {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    order: 1;
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
}

.filter-country__wrapper-filter--close .filter-country__alphabet,
.filter-country__wrapper-filter--close .filter-country__country-letter,
.filter-country__wrapper-filter--close .filter-country__close-button {
  @media (min-width: @tablet-width) {
    display: none;
  }
}


.filter-country__wrapper-filter--close .filter-counrty__list {
  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.filter-country__container--open-filter {
  @media (min-width: @tablet-width) {
    justify-content: flex-end;
  }
}

.filter-country__container--open-filter .filter-country__wrapper-filter {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 100px;
    padding-bottom: 28px;
    z-index: 2;
  }

  @media (min-width: @desktop-width) {
    position: static;
  }
}

.filter-country__container--open-filter .filter-country__wrapper {
  @media (min-width: @tablet-width) {
    order: 1;
  }
}


.filter-country__container--open-filter .filter-country__button-text--roll-up {
  @media (min-width: @tablet-width) {
    display: block;
  }
}

.filter-country__container--open-filter .filter-country__button-text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.filter-country__container--open-filter .filter-counrty__list {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -60px;
    left: 40;
  }
}
