.header {
  width: 100%;
  background-color: rgb(22, 28, 54);
  position: relative;
  z-index: 10;
  transition: 1s;

  @media (min-width: @tablet-width) {
    background-color: #182044;
    padding-top: 28px;
    padding-bottom: 12px;
  }

  @media (min-width: @desktop-width) {
    background-color: rgb(22, 28, 54);
    z-index: 0;
  }
}

.header--color-back {
  background-color: #182044;

  @media (min-width: @desktop-width) {
    background-color: #192144;
  }
}

.header--catalog {
  background-color: #182044;
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 100;

  @media (min-width: @tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header--fixed .header__item-logo-link-mobile {
  fill: #192144;
}

.header--fixed .header__container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header--fixed .header__toggle {
  background-image: url("../img/icon_menu_mobile_fix.svg");
}

.header--fixed .header__item-navigation {
  @media (min-width: @tablet-width) {
    margin-top: -4px;
  }
}

.header--fixed .main-nav::before {
  @media (min-width: @desktop-width) {
    background-color: #192144;
  }
}

.header--fixed .header__item-logo-link-tablet--color {
  @media (min-width: @tablet-width) {
    fill: #192144;
  }
}

.header--fixed .site-list__link-text {
  @media (min-width: @desktop-width) {
    color: #192144;
  }

  &:hover,
  &:focus {
    color: #ffd74b;
  }
}

.header__wrapper-container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}

.header__container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 18px;
  padding-bottom: 32px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    margin: 0;
    width: auto;
    flex-grow: 0.55;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
  }
}

.header--change-color {
  display: none;
  background-color: #ffffff;

  @media (min-width: @desktop-width) {
    display: flex;
    padding-top: 22px;
    padding-bottom: 19px;
    padding-right: 0;
    position: relative;
    z-index: 1;
  }
}

.header__toggle {
  display: block;
  margin: 5px 0 0 0;
  width: 25px;
  height: 11px;
  background-color: transparent;
  background-image: url("../img/icon_menu_mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__toggle--close-menu {
  width: 18px;
  height: 19px;
  background-image: url("../img/icon_menu_mobile_close.svg");
  margin-top: 0;
}

.header__item-navigation {
  position: absolute;
  display: none;
  padding: 115px 0 0 0;

  @media (min-width: @tablet-width) {
    position: static;
    margin-top: -22px;
    padding: 0 40px 0 0;
    flex-grow: 0.5;
  }

  @media (min-width: @desktop-width) {
    margin-top: -6px;
  }
}

.header--active-menu,
.header--nojs {
  background-color: #ffffff;

  @media (min-width: @desktop-width) {
    background-color: #161c36;
  }
}

.header__item-logo-link {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.header__item-logo-link-mobile {
  fill: #ffffff;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header__item-logo-link-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 50px;
  }
}

.header__item-logo-link-tablet g {
  fill: #ffffff;
}

.header--active-menu .header__container,
.header--nojs .header__container {
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    width: calc(50% + 9px);
    flex-grow: 0;
    padding-top: 17px;
  }
}


.header--nojs .header__container {
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.header--active-menu .header__item-logo-link-mobile,
.header--nojs .header__item-logo-link-mobile {
  fill: #192144;

  @media (min-width: @desktop-width) {
    fill: #ffffff;
  }
}

.header--active-menu .header__item-logo-link-tablet g,
.header--nojs .header__item-logo-link-tablet g { //про вложенность помню, но это исключение, чтобы не плодить классы
  fill: #192144;
}

.header--nojs .header__item-logo-link-tablet g { //про вложенность помню, но это исключение, чтобы не плодить классы
  @media (min-width: @desktop-width) {
    fill: #ffffff;
  }
}

.header--change-color .header__item-logo-link-tablet g { //про вложенность помню, но это исключение, чтобы не плодить классы
  fill: #192144;
}

.header--change-color .main-nav {
  margin-top: 0;
}

.header__link-auth {
  display: none;
  margin: 0;
  padding: 16px 29px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #161c35;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffd74b;
  border-radius: 25px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header--active-menu .header__item-navigation {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: -1;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 168px;
    padding-left: 98px;
  }
}

.header--nojs .header__item-navigation {
  position: static;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 43px;
  z-index: auto;
  padding-bottom: 11px;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-left: 98px;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;
    padding-left: 145px;
    padding-top: 0;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: -6px;
    height: auto;
    background-color: transparent;
    width: 995px;
    box-sizing: border-box;
    padding-bottom: 0;
  }
}

header.header--nojs .main-nav__list,
header.header--nojs .main-nav__contacts-list {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

header.header--nojs .main-nav__contacts-list {
  @media (min-width: @tablet-width) {
    margin-top: 135px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.header--active-menu .main-nav__toggle {
  display: none;
}

.header--active-menu .main-nav__close-menu {
  display: block;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 50px;
    left: 50%;
  }
}

.header--nojs .main-nav__close-menu {
  display: none;
}

.header--active-menu .main-nav__link--auth,
.header--nojs .main-nav__link--auth {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: 60px;
    right: 40px;
  }
}

.header--nojs .main-nav__link--auth {
  @media (min-width: @tablet-width) {
    top: 29px;
  }

  @media (min-width: @desktop-width) {
    position: static;
  }
}

.header--nojs .header__toggle {
  width: 18px;
  height: 19px;
  background-image: url("../img/icon_menu_mobile_close.svg");
  margin-top: 0;
}

header.header--active-menu .main-nav__list,
header.header--active-menu .main-nav__contacts-list {
  display: block;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

header.header--active-menu .main-nav__contacts-list {
  @media (min-width: @tablet-width) {
    width: auto;
    margin-top: 135px;
  }
}

header.header--active-menu .main-nav__socials-menu,
header.header--nojs .main-nav__socials-menu {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    margin-top: 133px;
  }
}

header.header--nojs .main-nav__socials-menu {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

