.my-plans__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 7px;
  }
}

.my-plans__list {
  margin: 29px 0 0 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
  }
}

.my-plans__item {
  margin: 10px 0 0 0;
  padding: 24px 24px 23px 24px;
  font-weight: 700;
  line-height: 16px;
  color: #1d2e5b;
  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 39px 31px 17px 23px;
    margin-top: 9px;
  }

  @media (min-width: @desktop-width) {
    padding: 35px 42px 38px 42px;
    margin-top: 15px;
  }
}

.my-plans__subtitle {
  padding: 0 0 0 18px;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #1d2e5b;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    width: 100%;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    padding-left: 52px;
  }
}

.my-plans__subtitle::before {
  content: "1.";
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: #1d2e5b;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    left: auto;
    right: 1px;
    top: 2px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
    line-height: 24px;
    left: 0;
  }
}

.my-plans__item:nth-child(2) .my-plans__subtitle::before {
  content: "2.";
}

.my-plans__companions,
.my-plans__date {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.my-plans__companions {
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    padding-left: 17px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
    margin-right: 39px;
  }
}

.my-plans__date {
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    margin-left: auto;
    margin-right: 31px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
    margin-right: 128px;
  }
}

.my-plans__change-link {
  display: block;
  margin: 24px 0 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
    margin-left: auto;
    margin-right: 11px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: @desktop-width) {
    margin-top: 3px;
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.1);
  }
}
