.subcsribe {
  display: flex;
  margin: 30px 0 0 0;
}

.subscribe__label {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.subscribe__input {
  display: block;
  width: 220px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  padding: 22px 25px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 10px 0 0 10px;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.subscribe__input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.subscribe__registration {
  display: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.subcsribe button {
  display: block;
  width: 60px;
  background-color: #ffd74b;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: -15px;
  position: relative;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    border-radius: 0 10px 10px 0;
    width: 330px;
  }
}

.subcsribe button::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  margin: -6px 0 0 -6px;

  @media (min-width: @desktop-width) {
    left: auto;
    right: 10px;
  }
}
