.subscribe {
  display: flex;
}

.subscribe__label {
  @media (min-width: @tablet-width) {
    flex-grow: 1;
  }
}

.subscribe__input {
  display: block;
  width: 220px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 17px 20px;
  background-color: #ffffff;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 10px 0 0 10px;
  outline: none;

  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    padding: 22px 34px;
    border-radius: 20px 0 0 20px;
  }

  &:active,
  &:not(:placeholder-shown) {
    background-color: transparent;
    border: 4px solid #ffffff;
    color: #ffffff;
  }

  &:hover {
    background-color: #edeff6;
  }

  &:hover:not(:placeholder-shown) {
    color: rgba(68, 68, 68, 0.3);
  }

  &:active,
  &:focus {
    background-color: #192144;
    border: 4px solid #ffffff;
    color: #ffffff;
  }
}

.subscribe__input::placeholder {
  color: rgba(68, 68, 68, 0.3);
}

.subscribe__input:hover::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.subscribe__input--error::placeholder {
  color: #ff0000;
}

.subscribe__input--error {
  background-color: #ffffff;
  border: 4px solid #ffffff;
  color: #ff0000;
}

.subscribe__registration {
  display: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: inherit;

  @media (min-width: @desktop-width) {
    display: block;
    text-align: left;
    padding-left: 30px;
  }
}

.subscribe button {
  display: block;
  width: 60px;
  background-color: #ffd74b;
  outline: none;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  margin-left: -10px;
  position: relative;
  cursor: pointer;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    border-radius: 0 20px 20px 0;
    width: 82px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 0 20px 20px 0;
    width: 325px;
  }

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  &:active::before {
    opacity: 0.3;
  }
}

.subscribe button::before {
  content: "";
  width: 14px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-image: url("../img/polygon.svg");
  background-repeat: no-repeat;
  margin: -7px 0 0 -4px;

  @media (min-width: @desktop-width) {
    left: auto;
    right: 30px;
  }
}
