.transport {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.transport__item:not(:first-child) {
  @media (min-width: @tablet-width) {
    margin-left: 3px;
  }
}

.transport__control-makr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.transport__title {
  display: block;
}

.transport__control-svg {
  fill: #1d2e5b;
  opacity: 0.15;
}

.transport__input[type="checkbox"]:checked + .transport__control-makr .transport__control-svg { //про вложенность помню, но другого решения не нашел
  fill: #101d41;
  opacity: 1;
}
