.user-card {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-column: 2/3;
    grid-row: 1/6;
    justify-content: flex-end;
  }
}

.user-card__item {
  display: flex;
  padding: 0 0 20px 0;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  position: relative;
  border-radius: 20px;

  @media (min-width: @tablet-width) {
    max-width: 285px;
  }
}

.user-card__item:not(:first-child) {
  margin-top: 9px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}

.user-card__avatar {
  display: block;
  border-radius: 20px 20px 0 0;
}

.user-card__mark {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 19px;
  left: 19px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 4px solid #ff8d30;
  border-radius: 50%;
  box-sizing: border-box;
}

.user-card__mark b {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

.user-card__mark span {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.user-card__counries {
  display: flex;
  margin-top: -12px;
}

.user-card__counries img {
  display: block;
}

.user-card__user-name {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.user-card__user-name a {
  display: block;
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #1d2e5b;
  text-decoration: none;
  padding: 0 0 0 16px;
  position: relative;
}

.user-card__user-name a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 6px;
  height: 6px;
  background-color: #f97676;
  border-radius: 50%;
  margin: -3px 0 0 0;
}

.user-card__icons {
  display: flex;
  justify-content: center;
}

.user-card__icons img:not(:last-child) {
  margin-right: 15px;
}

.user-card__icons img {
  display: block;
}
