.user-profile {
  background-color: #edeff6;
  color: #161c35;
}

.user-profile__fieldset-profile {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.user-profile__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 190px 47px 27px 105px;
  }
}

.user-profile__progress {
  width: 100px;
  margin-right: auto;
  height: 100px;
  background-color: transparent;
  border: 3px solid #ff8d30;
  box-sizing: border-box;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    grid-column: 6/7;
    grid-row: 1/2;
  }
}

.user-profile__progress b {
  display: block;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: #161c35;
}

.user-profile__progress span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #444444;
}

.user-profile__avatar {
  display: block;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;

  @media (min-width: @tablet-width) {
    order: 3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 7/9;
    grid-row: 1/2;
  }
}

.user-profile__change-avatar {
  display: block;
  width: 100%;
  margin: 18px 0 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #161c35;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #dfe3f0;
  padding: 13px;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    order: 4;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-profile__change-photo {
  display: none;
  width: 100%;
  margin: 18px 0 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #161c35;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #dfe3f0;
  padding: 13px;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: @desktop-width) {
    display: block;
    grid-column: 7/9;
    grid-row: 2/3;
  }
}

.user-profile__hashtags {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    order: 5;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/5;
    grid-row: 4/5;
  }
}

.user-profile__label,
.user-profile__subtitle {
  display: block;
  align-self: center;
  margin: 0;
  padding: 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
}

.user-profile__hashtags-description {
  display: block;
  padding: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.6);
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}

.transport__control-makr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 50%;
}

.transport__control-svg {
  fill: #1d2e5b;
}

.transport__input:checked + .transport__control-makr svg.transport__control-svg {
  fill: #101d41;
}

.user-profile__wrapper-transport {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    grid-column: 6/9;
    grid-row: 4/5;
  }
}

.user-profile__fieldset-plans {
  background-color: #dfe3f0;
  color: #1d2e5b;
  border-radius: 30px 30px 0 0;
  margin: 0;
  padding: 0;
  border: none;
}

.user-profile__fieldset-plans-container {
  padding-top: 30px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding-top: 57px;
    padding-bottom: 106px;
  }
}

.user-profile__fieldset-add-plan {
  background-color: #d4d9eb;
  color: #1d2e5b;
  border-radius: 30px 30px 0 0;
  margin: -30px 0 0 0;
  padding: 0;
  border: none;
}

.user-profile__fieldset-add-plan-container {
  padding-top: 30px;
  padding-bottom: 73px;
}

.user-profile__wrapper-add-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-profile__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;
}

.user-profile__wrapper-pagination {
  display: flex;
}

.user-profile__top-pagination {
  display: block;
  width: 5px;
  height: 5px;
  margin: 0;
  padding: 0;
  background-color: rgba(29, 46, 91, 0.3);
  border-radius: 50%;
  border: none;
}

.user-profile__submit,
.user-profile__prev-step {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #1d2e5b;
  background-color: #ffd74b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 20px;
  text-align: center;
  outline: none;
  border: none;
  width: 100%;
}

.user-profile__prev-step {
  background-color: transparent;
}
