.user-profile {
  background-color: #edeff6;
  color: #161c35;
}

.user-profile__fieldset-profile {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0 0 34px 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 64px;
  }
}

.user-profile__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: @desktop-width) {
    margin-top: -258px;
    z-index: 2;
  }
}

.user-profile__progress {
  width: 100px;
  margin-left: 17px;
  height: 100px;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;

  @media (min-width: @tablet-width) {
    order: 1;
    margin-right: 0;
    margin-left: 36px;
    width: 94px;
    height: 94px;
  }

  @media (min-width: @desktop-width) {
    margin-left: auto;
    margin-right: 44px;
    margin-top: 43px;
  }
}

.user-profile__circle {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
  stroke: #ff8d30;
  fill: transparent;

  @media (min-width: @tablet-width) {
    width: 94px;
    height: 94px;
  }
}

.user-profile__circle circle {
  @media (min-width: @tablet-width) {
    r: 45.5px;
    stroke-dashoffset: 80;
  }

  @media (min-width: @desktop-width) {
    r: 47px;
    stroke-dashoffset: 70;
  }
}

.user-profile__progress b {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 51px;
  margin: 16px auto 0 auto;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 38px;
  line-height: 38px;
  color: #161c35;
  text-align: center;
  border-bottom: 1px solid rgba(68, 68, 68, 0.3);

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.user-profile__progress span {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 62px;
  transform: translateX(-50%);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #444444;
  text-align: center;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.user-profile__wrapper-avatar {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 18px;

  @media (min-width: @tablet-width) {
    order: 3;
    margin-left: 62px;
    width: 94px;
    height: 94px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    height: auto;
    margin-right: 95px;
    margin-left: 0;
  }
}

.user-profile__input-avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  top: 0;
  left: 0;
}

.user-profile__avatar {
  display: block;
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

  @media (min-width: @tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
    border: none;
    box-shadow: none;
  }

  @media (min-width: @desktop-width) {
    width: 190px;
    height: 190px;
    border-radius: 15px 15px 0 0;
  }
}

.user-profile__avatar-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.user-profile__change-avatar {
  display: block;
  width: 100%;
  margin: 16px 0 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #161c35;
  text-align: center;
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: #dfe3f0;
  padding: 12px 13px;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 618px;
    order: 4;
    border-radius: 10px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    padding: 21px;
    box-sizing: border-box;
    letter-spacing: 0.09em;
  }

  @media (min-width: @desktop-width) {
    order: 4;
    margin-top: 0;
    margin-left: auto;
    margin-right: 95px;
    padding: 16px 21px 15px 21px;
    width: 190px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    box-sizing: border-box;
  }

  &:hover,
  &:focus {
    background-color: #d1d7e9;
  }

  &:active {
    background-color: #dfe3f0;
    color: rgba(22, 28, 53, 0.3);
  }
}

.user-profile__change-avatar-mobile {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-profile__change-avatar-desktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.user-profile__hashtags {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin: 33px 0 0 0;

  @media (min-width: @tablet-width) {
    order: 5;
    margin-top: 52px;
    width: 618px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: @desktop-width) {
    width: 732px;
    margin: 23px 0 0 63px;
  }
}

.user-profile__break {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    flex-basis: 100%;
    height: 0;
    order: 4;
  }
}

.user-profile__label,
.user-profile__subtitle {
  display: block;
  align-self: center;
  margin: 0;
  padding: 0 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #1d2e5b;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.08em;
  }
}

.user-profile__label {
  position: absolute;
  top: 0;
  left: 50%;
  margin: -9px 0 0 0;
  background-color: #edeff6;
  min-width: 70px;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    top: auto;
    bottom: -9px;
  }

  @media (min-width: @desktop-width) {
    left: 64px;
  }
}

.user-profile__subtitle {
  position: absolute;
  top: 0;
  left: 50%;
  margin: -9px 0 0 -55px;
  background-color: #edeff6;
  width: 110px;

  @media (min-width: @tablet-width) {
    top: auto;
    bottom: -10px;
    margin-left: -65px;
  }
}

.user-profile__hashtags-description {
  display: block;
  padding: 25px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.6);
  background-color: transparent;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    padding: 35px 15px 13px 38px;
  }

  &:hover,
  &:focus {
    border: 1px solid #aeb4cb;
  }

  &:active,
  &:focus {
    border: 1px solid#161C35;
    color: rgba(68, 68, 68, 1);
  }
}

.user-profile__wrapper-transport {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
  padding: 15px;
  align-items: center;
  background-color: transparent;
  border: 1px solid #cbced9;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;

  @media (min-width: @tablet-width) {
    order: 2;
    width: 308px;
    padding: 25px 15px 25px 15px;
    margin-top: 0;
    margin-left: 58px;
  }

  @media (min-width: @desktop-width) {
    order: 6;
    width: 384px;
    padding: 23px 15px 20px 15px;
    margin: 23px 0 0 auto;
  }
}

.user-profile__fieldset-plans {
  background-color: #dfe3f0;
  color: #1d2e5b;
  border-radius: 30px 30px 0 0;
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: @desktop-width) {
    border-radius: 60px 60px 0 0;
  }
}

.user-profile__fieldset-plans-container {
  padding-top: 27px;
  padding-bottom: 60px;

  @media (min-width: @tablet-width) {
    padding: 55px 75px 106px 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 52px 60px 106px 123px;
  }
}

.user-profile__fieldset-add-plan {
  background-color: #d4d9eb;
  color: #1d2e5b;
  margin: 0;
  padding: 0;
  border: none;
}

.user-profile__fieldset-add-plan--first-element {
  border-radius: 30px 30px 0 0;
  margin-top: -30px;

  @media (min-width: @desktop-width) {
    border-radius: 60px 60px 0 0;
    margin-top: -40px;
  }
}

.user-profile__fieldset-entertainment {
  background-color: #d4d9eb;
  color: #1d2e5b;
  border-radius: 0 0 0 0;
  margin: 0 0 0 0;
  padding: 10px 0 45px 0;
  border: none;

  @media (min-width: @tablet-width) {
    padding-top: 52px;
    padding-bottom: 120px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 127px;
    padding-top: 45px;
  }
}

.user-profile__fieldset-add-plan--first-element .user-profile__fieldset-add-plan-container {
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }
}

.user-profile__fieldset-add-plan-container {
  @media (min-width: @tablet-width) {
    padding: 0 75px 0 75px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 60px 0 60px;
  }
}

.user-profile__wrapper-add-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    padding-left: 67px;
  }
}

.user-profile__arrival,
.user-profile__rout,
.user-profile__entertainment {
  margin-top: 10px;
  padding: 24px 24px 22px 24px;

  @media (min-width: @tablet-width) {
    padding: 46px 40px 54px 40px;
    margin-top: 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 97px 160px 105px 160px;
    margin-top: 43px;
  }
}

.user-profile__rout {
  padding-top: 22px;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 96px;
  }
}

.user-profile__entertainment {
  margin-top: 0;
  padding-bottom: 3px;
}

.user-profile__fieldset-add-plan-container .user-profile__arrival {
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    margin-top: 59px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 60px;
  }
}

.user-profile__title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #1d2e5b;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.user-profile__wrapper-pagination {
  display: flex;
  margin-right: 19px;

  @media (min-width: @tablet-width) {
    margin-right: -2px;
    margin-top: 1px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-profile__top-pagination {
  display: block;
  width: 5px;
  height: 5px;
  margin: 0;
  padding: 0;
  background-color: rgba(29, 46, 91, 0.3);
  border-radius: 50%;
  border: none;

  @media (min-width: @tablet-width) {
    width: 6px;
    height: 6px;
  }
}

.user-profile__top-pagination:not(:last-child) {
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 29px;
  }
}

.user-profile__top-pagination--current {
  background-color: #1d2e5b;
}
